 /*doa.css 1st group project, 2nd iteration - Team Daughters of Anarchy*/

/* GLOBAL FONT */
@import url(https://fonts.googleapis.com/css?family=Metal+Mania);

* {
  box-sizing: border-box;
}


/*NAVBAR*/


#header {
/*  border: 1px solid red;
*/  position: fixed;
  width: 100%;
  background-color: pink;

}


#header h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 20px 0 0px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: yellow;
}
a:hover {
  color: #55ff00;
}
h1 a:hover {
  color: #55ff00;
}
.navLinks a:hover {
  color: #55ff00;
}
a:visited {
  color: yellow;
}

.navLinks {
  float: right;
  vertical-align: bottom;
  padding-right:15px;

}




/*HOME PAGE*/

body {
  font-family: "Metal Mania", sans-serif;
  margin-top:200px;
  padding: 0;
  margin: 0;
  background-color: #523833;
}
.mainContent {
  width: 95%;
  margin: 0 auto;
  padding-top: 150px;

}
#splashPicture {
}
#splashPicture img {
  width: 100%;
}
#splashText {
  text-align: justify;
}
.mainContent h2 {
  text-align: center;
  font-size: 2.5em;
  margin-top: -5px;
}

.navHome {
 font-size: 5em;
 font-weight: bold;
}

/*FOOTER*/

footer {
/*  border: 1px solid red;
*/  background-color: pink;
  padding: 10px 0;
  overflow: hidden;
  clear: both;
}
footer p {
  margin: 0;
  float: left;
  vertical-align: center;
  padding-left: 15px;
}

/*PRODUCT*/

.card {
/*  border: 1px solid red;
*/  width: 25%;
  height: 400px;
  float: left;
}
.card img {
  display: block;
  width: 90%;
  height: 175px;
  margin: 5px auto 0;
  border-radius: 10%;
}
.productName {
  text-align: center;
  margin: 0;
}
.productDescription {
  font-size: .8em;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}
.price {
  font-size: .9em;
  width: 90%;
  margin: 5px auto;
}

/*CONTACT PAGE*/

#columnLeft {
  width: 30%;
  float: left;
}


#columnLeft p {
  font-size: 1.5em;
  margin-top: 3px;
}

.contactInfo {
  font-size: 2em;
  margin-bottom: 0;
}


#columnRight {
  width: 70%;
  float: left;
}

#columnRight img {
  width: 100%;
  border-radius: 50%;
}

/*.contactInfo,
.social, {
  font-size: 2em;
}*/

